{% extends 'base.html.twig' %}

{% block title %}Conversation avec {{ recipient.username }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Messages
                </div>
                <div class="card-body">

                    <div class="overflow-y-auto"
                         id="messages"
                         hx-ext="sse"
                         sse-connect="{{ mercure(topic) }}"
                         sse-swap="message"
                         style="max-height: 500px;">

                        {% include 'conversation/messages.html.twig' %}

                    </div>
                    <hr>
                    <form class="d-flex gap-3 mt-3" hx-post="{{ path('message.create') }}" hx-swap="none">
                        <input aria-label="Message"
                                type="text"
                                class="form-control"
                                name="content"
                               placeholder="Message"
                                id="content"
                        >
                        <input type="hidden"
                               name="conversationId"
                               value="{{ conversation.id }}">
                        <button type="submit" class="btn btn-primary">Envoyer</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        const messages = document.querySelector('#messages');
        const userId = {{ app.user.id }};

        document.addEventListener('DOMContentLoaded', () => {
            scrollToBottom(messages)
        });

        document.body.addEventListener('htmx:sseBeforeMessage', function (e) {
            e.preventDefault();

            const json = e.detail.data;

            console.log(json);
            });

        function scrollToBottom(container) {
            container.scrollTo({
                top: container.scrollHeight,
                behavior: 'smooth'
            });
        }
    </script>
{% endblock %}